body{
    background-color: rgb(255, 10, 10);
    text-align: left;
    color: rgb(255, 251, 0);
}

h1{
    background-color: antiquewhite;
    text-align: center;
    color: black;
}

div{
    text-align: center;
    color: blanchedalmond;
}
